In [1]:
import re
import json
import csv
from io import StringIO
from bs4 import BeautifulSoup
import requests
import numpy as np
import pandas as pd

url_summary = 'https://finance.yahoo.com/quote/{}?p={}'

In [56]:
stock_list = ["AAPL","BABA","TSLA"]

In [68]:
lst = []

for stock in stock_list:
    response = requests.get(url_summary.format(stock,stock))
    page_content = response.content
    soup = BeautifulSoup(page_content, 'html.parser')
    table = soup.find_all("table" ,{"class" : "W(100%) M(0) Bdcl(c)"})
    stock_summary = []
    for t in table:
        rows = t.find_all ('td')
        for row in rows:
            stock_summary.append(row.get_text())
    stock_summary = np.array(stock_summary)

    name = stock_summary[::2]
    num = stock_summary[1::2]
    
    stock_name = "stock_"+str(stock)
    stock_name= lst.append(pd.Series(num,index=name,name=stock))
    
    print(stock_name)
   
  
pd.DataFrame(lst).T

None
None
None

,AAPL,BABA,TSLA
Market Cap,2.244T,638.221B,627.292B
Beta (5Y Monthly),1.30,1.03,2.15
PE Ratio (TTM),40.23,23.85,"1,265.33"
EPS (TTM),3.28,9.31,0.52
Earnings Date,"Jan 26, 2021 - Feb 01, 2021","Feb 11, 2021 - Feb 15, 2021","Jan 27, 2021 - Feb 01, 2021"
Forward Dividend & Yield,0.82 (0.62%),N/A (N/A),N/A (N/A)
Ex-Dividend Date,"Nov 06, 2020",N/A,N/A
1y Target Est,127.11,338.82,411.53